@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Schoolbell", cursive;
    --fonte3: cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100%;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 10px;
    font-variant: small-caps;
    font-size: 7vw;
}

header > p {
    color: white;
    padding-bottom: 10px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 10px;
    font-family: var(--fonte2);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;

}

section.imagem {
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.441);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

section#img-01 {
    background-image: url('pacote-d012/imagens/background001.jpg');
}

section#img-02 {
    background-image: url('pacote-d012/imagens/background002.jpg');

}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 2px black;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    color: blue;
    background-color: lightgrey;
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
}